@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>Analise os arquivos Open Financial Exchange (OFX) em uma estrutura web utilizável. </p>
</div>


<div>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Valor</th>
                                <th>Data de Lançamento</th>

            </tr>
        </thead>
    </table>
</div>
